body
{
	background-color:#fff6f1; 
	font-family: "Helvetica",Arial;
}

h1
{
	color: #3E75B9; /*naranja*/
	font-family: 'Russo One', sans-serif;
	text-align: center;
}

h2
{
	color: #3E75B9; /*naranja*/
	font-family: 'Russo One', sans-serif;
	text-align: left;
	font-size: 30px;
}

a
{
	color: #3E75B9;
	font-weight: bold; /*marcado de los links*/
}

label
{
	display: block;
}

#textoPr
{
	width: 400px;
	height: 350px;
	background-color: #B3D4FD;
	color: #fff;
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
	margin: 0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 20px; /*arregla el border radius, se toma los mismos pixeles*/
	box-shadow: 0px 0px 20px rgba(0,0,0,0.9);/*red, green, blue, alfa*/
}

#contenido
{
	width:960px;
	margin:0 auto;
	text-align: center;
}

#btnSubmit
{	
	font-family: 'Russo One', sans-serif;
	border: none;
	background-color: #3E75B9;
	color: #E0F8F1;
	padding: 10px;
	margin: 20px;
	cursor: pointer;
	border-radius: 15px;
}

#container{
	width: 400px;
	border-bottom: solid;
	text-align: left;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}