<DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Admin Applications{% endblock%}</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/css/estilo.css" />
	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet'>

	<meta charset="UTF-8" />
</head>
<body>

	<nav role="navigation" class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" data-target="navbarCollapse"></button>
		</div>
	</nav>

	<header id='contenido'>
		<h1>{% block encabezado %}
			Admin Applications
		</h1>{% endblock %}
	</header>

		<div class="row">
		{% block nav %}
			<div class="col-md-3" align='right'>
				<h1>Muckups</h1>
				<nav>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="{% url 'loginMuk' %}">Login</a></li>
						<li><a href="{% url 'inicioMuk' %}">Inicio</a></li>
						<li><a href="{% url 'registerMuk' %}">New User</a></li>
						<li><a href="{% url 'allApplicationsMuk' %}">Applications</a></li>
						<li><a href="{% url 'allDevicesMuk' %}">Devices</a></li>
						<li><a href="{% url 'newDeviceMuk' %}">NewDevice</a></li>
						<li><a href="{% url 'newApplicationMuk' %}">NewApplication</a></li>
					</ul>					
				</nav>

				<div class="row">
					<div class="col-md-11" align='right'>
						<a href="{% url 'inicio' %}" class='btn btn-primary'>Inicio</a> 
					</div>
				</div>

			</div>		
		{% endblock %}

			<div class="col-md-9">
				<section>
					{% block content %}
					{% endblock %}
				</section>
			</div>
		</div>
</body>
</html>