{% extends 'base.html' %}
{% block title %}Login and Registration Admin Applications{% endblock %}
{% block encabezado %} 
    Registration Admin Applications
{% endblock %}

{% block content %}
 
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
 
    <form method="post" action="{% url 'nuevoUsuario' %}"> 
        <!--action="{% url 'nuevoUsuario' %}" -> Queremos que la informacion se vaya a Nuevo Usuario-->
 
        {% csrf_token %}
        <br><br><br>
        <div id="textoPr" >
                <h2>New User</h2> 
                <p> 
                    <label class="uname"> Your email or username </label> 
                    <table>
                        <tr>
                            <td> {{ form.username.label_tag }}</td> <!--Este es el label-->
                            <td> {{ form.username }}</td>           <!--Este es text input-->
                        </tr>
                        <tr>
                            <td> {{ form.password.label_tag }}</td>
                            <td> {{ form.password }}</td>
                        </tr>
             
                        <tr>
                            <td> {{ form.email.label_tag }}</td>
                            <td> {{ form.email }}</td>
                        </tr>
             
                        <tr>
                            <td> {{ form.first_name.label_tag }}</td>
                            <td> {{ form.first_name }}</td>
                        </tr>
             
                        <tr>
                            <td> {{ form.last_name.label_tag }}</td>
                            <td> {{ form.last_name }}</td>
                        </tr>
             
                    </table>
                </p>
 
                <p><input type="submit" value="login" id='btnSubmit'/></p>
    </form>
 
{% endblock %}